#!/bin/sh

set -e

# shellcheck disable=SC2154
trap 'ret=$?; test $ret -ne 0 && printf "failed\n\n" >&2; exit $ret' EXIT

{% include 'functions.sh.j2' %}
{% include 'setup-homebrew.sh.j2' %}

fancy_echo "Updating Homebrew formulae ..."
brew bundle --file=- <<EOF || true
{% include 'Brewfile' %}
EOF

{% include 'setup-zsh.sh.j2' %}
{% include 'setup-postgres.sh.j2' %}

fancy_echo "Done Configuring Laptop!"
