fancy_echo "Configuring Node ..."

find_latest_node() {
  latest_major_version="8"
  nodenv install -l | grep -v - | grep "  $latest_major_version." | tail -1 | sed -e 's/^ *//'
}

# shellcheck disable=SC2016
append_to_zshrc 'eval "$(nodenv init - --no-rehash)"' 1
eval "$(nodenv init -)"

node_version="$(find_latest_node)"

if ! nodenv versions | grep -Fq "$node_version"; then
  nodenv install -v "$node_version"
fi
nodenv shell "$node_version"
{# npm install -g kmscli grunt #}
nodenv global "$node_version"

fancy_echo "Done Configuring Node!"
