fancy_echo "Configuring Python ..."

find_latest_python2() {
  pyenv install -l | grep -v - | grep "  2." | tail -1 | sed -e 's/^ *//'
}

find_latest_python3() {
  pyenv install -l | grep -v - | grep "  3." | tail -1 | sed -e 's/^ *//'
}

# shellcheck disable=SC2016
append_to_zshrc 'eval "$(pyenv init - --no-rehash)"' 1
eval "$(pyenv init -)"

python2_version="$(find_latest_python2)"
if ! pyenv versions | grep -Fq "$python2_version"; then
  fancy_echo "Installing Python $python2_version ..."
  CFLAGS=-I/usr/local/opt/openssl/include LDFLAGS=-L/usr/local/opt/openssl/lib pyenv install -s "$python2_version"
fi
pyenv shell "$python2_version"
pip install -q virtualenvwrapper

python3_version="$(find_latest_python3)"
if ! pyenv versions | grep -Fq "$python3_version"; then
  fancy_echo "Installing Python $python3_version ..."
  CFLAGS=-I/usr/local/opt/openssl/include LDFLAGS=-L/usr/local/opt/openssl/lib pyenv install -s "$python3_version"
fi
pyenv shell "$python3_version"
pip install -q virtualenvwrapper

pyenv global "$python3_version:$python2_version"

fancy_echo "Done Configuring Python!"
